<center>
<div id="cuadro">
<div id="titulo">Editar Rendicion</div>
<%= render 'form' %>
<%= link_to 'Atras', '/entregaprods/'+@ventaprod.entregaprod_id.to_s,:class => 'btn btn-mini btn-default' %>
</div>
</center>


