<h1 align="center">Editar Conducta</h1>

<%= render 'form' %>

<% link_to 'Show', @conductum %> 
 <a class='btn btn-mini btn-default' href=<%="/internos/"%>+<%=@conductum.interno_id%> >Retornar a interno</a> 
 </td>
 </tr>
 </table>
