<h1 align="center">Nueva Conducta</h1>

<%= render 'form' %>

<% link_to 'Atras', :back, :class => 'btn btn-mini btn-default'%>
<%= link_to 'Retornar a Interno', :back , :class => 'btn btn-mini btn-default' %>
</td>
</tr>
</table>