<style type="text/css">
#cuadro {	
	padding: 70px 0 0 0px;
	height: 100%;
}
#cuadro {
	width: 350px;
	margin:auto;
	position: relative;
}
</style>
<div class="cuadro">
<h1>Crear entrega producto</h1>

<%= render 'form' %>

<%= link_to 'Atras', entrega_productos_path, :class => 'btn btn-mini btn-default'%>
</div>