<center>
    <form method="GET" action="/egresos/buscar_entre_fechas">
      Fecha Inicio: <input type="date" name="fecha_inicio"> &nbsp;&nbsp;&nbsp;
      Fecha Fin: <input type="date" name="fecha_fin"> &nbsp;&nbsp;&nbsp;
      <input type="submit" value="Buscar Egresos Entre Fechas", class="btn btn-mini">
    </form>
</center>