<center>
	<h1>Registrar Egreso</h1><br>
	<h3>Dinero actual en bolivianos: <%=@total%></h3>

	<%= render 'form' %>


	<%= link_to 'Atras', egresos_path, :class => 'btn btn-mini btn-default' %>
</center>