<center>
	<div id="cuadro">
		<div id="titulo">Registrar Egreso</div>
		<div id="linea"></div>
		<div id="subtitulo">Dinero actual en Bs: <%=@total%></div><br>
		<%= render 'form' %>
	</div>
</center>