<center>
<div id="cuadro">
<div id="titulo">Editar entrega de productos</div>
<%= render 'form' %>
<%= link_to 'Atras', '/entregaprods/'+@entregaprod.id.to_s,:class => 'btn btn-mini btn-default' %>
</div>
</center>