<center>
<div id="cuadro">
<div id="titulo">Registrar entrega</div>

<%= render 'form' %>
<div id="botones">
<%= link_to 'Atras', entregaprods_path, :class => 'btn btn-mini btn-default'%></div>
</div>
</center>