<center><div id="cuadro">
<div id="titulo">Nuevo Donativo</div>

<%= render 'form' %>

<%= link_to 'Atras', recepcion_donativos_path, :class => 'btn btn-mini btn-default'  %>
<!-- <%= link_to 'Inicio', root_path, :class => 'btn btn-mini btn-default'  %> -->
</div>
</center>