<center><h1>Nuevo donativo</h1>

<%= render 'form' %>

<%= link_to 'Atras', recepcion_donativos_path, :class => 'btn btn-mini btn-default'  %>
<!-- <%= link_to 'Inicio', root_path, :class => 'btn btn-mini btn-default'  %> -->
</center>