<center><div id="cuadro">
<div id="titulo">Editar Ingreso</div>

<%= render 'form' %>
<div id="botones">
<%= link_to 'Atras', ingresos_path, :class => 'btn btn-mini btn-default' %></div>
</div>
</center>