<h1 align="center">Editar conyugue</h1>

<%= render 'form' %>


<div align="right">
    <a class='btn btn-mini btn-default' href=<%="/internos/"%>+<%=@conyugue.interno_id%> >Retornar a interno</a> 
  </div>
  </td>
  </table>