<h1 align="center">Editar Referencia</h1>

<%= render 'form' %>


<% link_to 'Atras', :back, :class => 'btn btn-mini btn-default'%>
<a class='btn btn-mini btn-default' href=<%="/internos/"%>+<%=@contact.interno_id%> >Retornar a interno</a> 
 </td>
 </table>