<h1 align="center">Editar Orden Judicial</h1>

<%= render 'form' %>



<% link_to 'Atras', court_orders_path, :class => 'btn btn-mini btn-default'  %>
<a class='btn btn-mini btn-default' href=<%="/internos/"%>+<%=@court_order.interno_id%> >Retornar a interno</a>
</td>
</tr>
</table>