<h1>Lista de Ordenes Judiciales</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Estado</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @court_orders.each do |court_order| %>
      <tr>
        <td><%= court_order.descripcion %></td>
        <td><%= court_order.estado %></td>
        <td><%= link_to 'Edit', edit_court_order_path(court_order) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'Registrar Orden Judicial', new_court_order_path %>
