<h1>Editar voluntario</h1>

<%= render 'form' %>

<%= link_to 'Show', @voluntario, :class => 'btn btn-mini btn-default'   %> |
<%= link_to 'Back', voluntarios_path, :class => 'btn btn-mini btn-default'  %>
