<center>
	<div id="cuadro">
		<div id="titulo">Registrar Egreso Interno</div>
		<div id="linea"></div>
		<div id="subtitulo">Dinero Actual en Bs: <%=@total%></div><br>
		<%= render 'form' %>
	</div>
</center>