<h2>Editar rehabilitacion</h2>

<%= render 'form' %>

<% link_to 'Show', @rehab %> |

<% link_to 'Atras', rehabs_path, :class => 'btn btn-mini btn-default'  %>
<a class='btn btn-mini btn-default' href=<%="/internos/"%>+<%=@rehab.interno_id%> >Retornar a interno</a>
</td>
</tr>
</table>