<center>
	<div id="cuadro">
		<div id="titulo">Editar Producto</div>
		<div id="linea"></div>
		<%= form_for(@product) do |f| %>
		<div class="field">
			    <%= f.label :state, 'Estado *' %><br>
			    <%= f.select :state, ['Activo', 'Inactivo'] %>
		  </div><br>
		  <%= render 'form' %>
		<% end %>
	</div>
</center>