<center>
	<h2>Editar Producto</h2>

	<%= form_for(@product) do |f| %>
	  <%= render 'form' %>
	  <div class="field">
		    <%= f.label :state, 'Estado *' %><br>
		    <%= f.select :state, ['Activo', 'Inactivo'] %>
	  </div><br>
	  <div>
	    <label>* Los campos con asterisco, son obligatorios. </label>
	  </div>
	<% end %>
</center>