<h1>Lista de Productos</h1>

<div align="right">
    <form method="GET" action="/products/search">
      Buscar Producto: <input type="text" name="name" placeholder="Nombre de Producto"> &nbsp;&nbsp;&nbsp;
      <input type="submit" value="Buscar", class="btn btn-info">
    </form>
  </div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <!--th colspan="3"></th-->
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= link_to 'Ver', product, :class => 'btn btn-mini btn-info active' %></td>
        <td><%= link_to 'Editar', edit_product_path(product), :class => 'btn btn-mini btn-warning active' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>
<%= link_to 'Registrar Producto', new_product_path, :class => 'btn btn-mini btn-success active' %>

